/* For the entire container of the login and signup page */
.login-signup-container {
    display: flex;
    color: black;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #333; /* Set background color of the page to yellow */
}

/* To style the login form */
.form-container {
    background-color: grey;  /* Keeping the login form background black */
    color: shite;
    text-align: center;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    max-width: 400px;
    width: 100%;
}

/* Optional: Style for inputs and buttons */
.form-container input,
.form-container button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #333;
    border-radius: 5px;
    background-color: rgb(63, 61, 61);
    color: white;
    font-size: 16px;
}

.form-container button {
    background-color: #0066cc;
    cursor: pointer;
}

.form-container button:hover {
    background-color: #005bb5;
}

/* Optional: Style for error message */
.error-message {
    color: red;
    font-size: 14px;
    margin-bottom: 30rem;
    margin-left: 2rem;

}

.form-container p {
    text-align: center;
}

.form-container span {
    color: #0066cc;
    cursor: pointer;
}

.form-container span:hover {
    text-decoration: underline;
}
